/* some damn typefaces */
@font-face {
font-family: 'Inter';
font-style:  normal;
font-weight: 400;
font-display: swap;
src: url("Inter-Regular.woff2?v=3.13") format("woff2"),
     url("Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
font-family: 'Inter';
font-style:  normal;
font-weight: 500;
font-display: swap;
src: url("Inter-Medium.woff2?v=3.13") format("woff2"),
     url("Inter-Medium.woff?v=3.13") format("woff");
}

.hammybutton {
display: none;
}

.navmobile {
display: none;
}


.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.background2 {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.background3 {
  display: flex;
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
  object-fit: cover;
}

.background4 {
  display: flex;
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.background5 {
  margin-top: 15vh;
  display: flex;
  height: auto;
  width: 95%;
}
/* and we're off */

body {
  margin:0;
  padding: 0;
  margin-bottom: 30px;
  width: 100%;
  font-size: 5em;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;

}

/* the party up top */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  height: 10vh;
  background: #FFFA00;
  font-size: 0.3em;
  z-index: 200;
}

.left {
  width: 25%;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

.logo {
  height: 50px;
  width: 120px;
}

.right {
  width: 75%;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav {
  margin-left: 3vw;
  align-items: center;
  text-align: right;
}

/* the big boy text */
.textcontain {
  display: flex;
  width: 40%;
  height: 80vh;
  font-size: 5vw;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: none;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  line-height: 105%;
  z-index: 2;
  color: white;
  margin-top: 10vh;
}

.bigcontain {
  display: flex;
  width: 95%;
  height: 95vh;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}


/* paragraph text */

.para {
  display: block;
  width: 95%;
  font-size: 50px;
}

.parabold {
  display: block;
  width: 95%;
  font-size: 50px;
  font-weight: 500;
}

.linky {
  text-decoration:underline;

  font-weight: 400;
}

/* the button of all buttons, button to the stars, big kahuna button */
.donate {
  position: fixed;
  bottom: 2.5vw;
  right: 3vw;
  z-index: 20;
  height: 80px;
  width: 300px;
  font-size: 0.40em;
  background: black;
  border-radius: 90px;
  border: 0px;
  color: white;
  transition: background 300ms;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
}

.donate:hover{
  background: #FFFA00;
  color: black;
}


.donate:focus{
  border: none;
  outline: none;
}

/* hey babe, all divs need to take some space from time to time */
.spacer {
  display: flex;
  width: 90vw;
  height: 5vh;
  background-color: none;
}

/* this ones gonna come back and bite me in the ass, I'm calling it here and now */
p {
  width: 100%;
  font-size: 0.6em;
}

/* get it done by so you can hit the LINKS */
a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
  transition: color 300ms;
}

a:hover {
  color:grey;

}

/* alright, the placeholders a little lofty but y'know shoot for the moon, land on the stars or some shit am I right? */
#bigmoney{
  transition: color 400ms;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
}
#bigmoney:hover {
  color: #FFFA00;

}

/* this ones fucking HARD. goddamn donorbox */

.done {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  background: none;

}

.donorbox-note {
  font-size: 0.3em;
  color: grey;
}

.note {
  font-size: 0.3em;
  width: 95%;
  color: grey;
}

/* top of the pops: filters for leaderboard*/

.topochico{
  display: flex;
  width: 95%;
  height: 100px;
  background-color: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  margin-top: none;
}

.totheleft {
  width: 60%;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
}

.most {
  height: 60px;
  width: 180px;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  margin-right: 1vw;
  background: none;
  font-size: 0.3em;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  transition: background 200ms;

}

.most:hover, .highest:hover, .most.active-filter, .highest.active-filter {
    background: black;
    color: white;
}


.most:focus{
  border: none;
  outline: none;
}


.highest {
  height: 60px;
  width: 250px;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  margin-right: 1vw;
  background: none;
  font-size: 0.3em;
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  transition: background 200ms;
}

.highest:focus{
    outline: none;
}

/* .highest:hover{
    background: black;
    color: white;
} */

.totheright {
  width: 60%;
  background-color: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.search {
  height: 60px;
  width: 300px;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  margin-right: 1vw;
  font-size: 0.3em;
  padding-left: 1em;
  color: black;
}


.search:focus{
  outline: none;
}

.seek{
  height: 60px;
  width: 60px;
  border-radius:50%;
  border-width: 0px;
  background: black;
  transition: background 200ms;
}


.seek:focus{
  outline: none;
}

.seek:hover{
    background: grey;
}
.magnify {
  height: 32px;
  width: 32px;
  z-index: 20;
}

.maginfy:hover{
    color: black;
}

/* THE LEADERBOARD */

.leader {
  display: flex;
  flex-direction: row;
  width: 95vw;
  background: none;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 20px;
}

.rightright {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  font-size: 0.3em;
  padding-bottom: 20px;
}

.leader-elem {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  font-size: 0.3em;
  padding: 20 20 0 0;
  padding-bottom: 20px;
}

.bottom-comment {
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.3em;
  padding-bottom: 20px;

}



.wrongwrong {
  display: flex;
  width: 65%;
  font-size: 0.3em;
  justify-content: flex-end;
  color: grey;
}

.donation-elem {
  width: 15%;
  font-weight: 500;
  padding-bottom: 20px;
  /* position: relative; */
}
.date-elem {
  width: 20%;
  color:grey;
}

.middle-comment {
  width: 50%;
  left: 0;
  padding-bottom: 20px;
  /* position: relative; */
}



.burger {
  display: none;
  position: fixed;
  top: 3vh;
  right: 5vw;
  width: 100px;
  z-index: 100;
}


.x {
  display: flex;
  position: fixed;
  top: 3vh;
  right: 5vw;
  width: 120px;
  z-index: 120;
}

.mayasface {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1.5vw;
}


.square {
  height: 30.5vw;
  width: 30.5vw;
  object-fit: cover;

}

.innertext {
  font-family: 'Inter';
  position: relative;
  top:70px;
  left: 30px;
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.video {
  display: flex;
  width: 95%;
  height: 80vh;
}

@media only screen and (min-width: 876px) {
  .bottom-comment {
    display: none;

    /* visibility: hidden; */
  }

  /* .middle-comment {
    visibility: visible;
  } */

  .leader-elem {
    border-bottom-style: solid;
    border-width: 1px;
    padding: 20 20 0 0;
  }

  .mobile {
    display: none;

  }

}

@media only screen and (max-width: 875px) {
/* up top */


.video {
  display: flex;
  width: 90%;
  height: 50vh;
}

  .burger {
    display: flex;
    width: 35px;
    z-index: 100;
  }

.x {
  display: flex;
  width: 35px;
  z-index: 100;
}
  .left {
    width: 25%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
  }

  .middle-comment {
    display: none;
    padding-bottom: 0px;
    /* visibility: hidden; */
  }

  .mayasface {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 4vw;
  }

  .innertext {
    font-family: 'Inter';
    position: relative;
    top:60px;
    left: 30px;
    color: white;
    font-size: 30px;
  }


  .square {
    height: 89vw;
    width: 89vw;
    object-fit: cover;
  }

  .leader {
    width: 90%;
    font-size: 20px;
  }
  .leader-elem {
    padding: 20 0 0 0;
    font-size: 20px;
  }

  .bottom-comment {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .donation-elem {
    width: 75%;
    font-size: 20px;
    padding-bottom: 0px;
  }
  .date-elem {
    width: 25%;
    font-size: 20px;

  }

.nav {
  display: none;
}

  /* big huh? look at you now you miserable peice of shit */
  .textcontain {
    font-size: 0px;
    width: 90%;
    line-height: 110%;
  }

/* big bad button */
  .donate {
    position: fixed;
    bottom: 6vw;
    right: 7vw;
    z-index: 20;
    height: 70px;
    width: 200px;
    font-size: 22px;
    background: black;
    border-radius: 90px;
    border: 0px;
    color: none;
    transition: background 300ms;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
  }

/* hot mess */
  .topochico{
    display: normal;
  }

  .topochico{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 160px;
    background-color: none;
    justify-content: left;
    align-items: left;
    align-content: left;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    margin-top: 20px;
  }

  .totheleft {
    width: 100%;
    background-color: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
  }

  .most {
    height: 60px;
    width: 40%;
    border-width: 1px;
    border-radius: 50px;
    border-color: black;
    margin-right: 10px;
    background: none;
    font-size: 20px;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    transition: background 200ms;

  }
  .highest {
    height: 60px;
    width: 60%;
    border-width: 1px;
    border-radius: 50px;
    border-color: black;
    margin-right: 1vw;
    background: white;
    font-size: 20px;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    transition: background 200ms;
  }
  .totheright {
    width: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .search {
    height: 60px;
    width: 75%;
    border-width: 1px;
    border-radius: 50px;
    border-color: black;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 1em;
    color: black;
  }

  .seek{
    height: 60px;
    width: 60px;
    border-radius:50%;
    border-width: 0px;
    background: black;
    transition: background 200ms;
  }
  .seek:hover{
      background: grey;
  }
  .magnify {
    height: 32px;
    width: 32px;
    z-index: 20;
  }

  .maginfy:hover{
      color: black;
  }

  /* paragraph text */

  .para {
    display: block;
    width: 90%;
    font-size: 25px;
  }

  .parabold {
    display: block;
    width: 90%;
    font-size: 25px;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 90%;
    padding: 5%;
    background-color: #FFFA00;
    justify-content: right;
    align-items: center;
    align-content: center;
    z-index: 100;
  }

.hidden {
  display: none;
}


  .navmobile {
    display: flex;
    font-size: 60px;
    font-weight: 500;
  }

  .hammybutton {
    display: flex;
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;

  }

  .background {
    position: absolute;
    display: none;
    height: 95vh;
    margin-bottom: 30px;
  }

  .background2 {
    position: absolute;
    display: flex;
    height: 100vh;
    margin-bottom: 30px;
  }

  .background5 {
    margin-top: 14vh;
    display: flex;
    height: auto;
    width: 90%;
  }

  .textcontain {

    display: flex;
    width: 70%;
    height: 92vh;
    font-size: 11vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: none;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    line-height: 110%;
    z-index: 2;
    color: white;
    margin-top: 9vh;
  }

  .bigcontain {
    width: 90%;
    height: 95vh;
  }
/* get rid them damn hover states */

  .hammybutton:focus {
    border: none;
    outline: none;
  }

  a:hover {
    color:black;
  }

  .donate:hover {
    background:black;
    color: white;
  }





}
